
.layout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout form{
    height: 300px;

    background-color: #fff;
}
.layout input{
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}