form h1{
    font-size: 40px;
    color: brown;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
form input{
    border: 1px solid black;
    width: 400px;
    height: 40px;
    padding: 4px;
}
form textarea{
    height: 90px;
    width: 400px;
    padding: 4px;
    border: 1px solid black;
}
form button{
    background-color: brown;
    color: aliceblue;
}