.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: brown;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}
.card img{
    height: 300px;
    width: 300px;
}
.card h2{
    color: aliceblue;
}